
		<ion-nav-view>
			<ion-view>
				<div class="bar bar-header sy_int_head" >
					<button class="button back-button buttons button-icon ion-ios-arrow-left dingdan header-item homeDfanhui" ui-sref="vip"></button>
					<h4 class="sy_int_title">线下服务网络</h4>
					<div class="list sy_int_head_1">
						<div class="item item-input item-select">
						    <select>
						      <option>北京</option>
						      <option selected="">西安</option>
						    </select>
						  </div>
					</div>	
				</div>
				<ion-content class="content_head sy_bg_gray">
					<div class="sy_int_1"><i class="icon" style="background-image:url(images/ft_icon1.jpg);"></i>摇一摇或点击查看周边服务网站</div>
					
					<ul class="sy_int_ul">
						<li>
						    <div class="sy_int_ul_1" ng-click="goPersonal('myServer18')">
						    	<h4 class="title">东城区 王府井门市</h4>
								<span class="sy_int_adr"><i class="icon ion-ios-location"></i><em>1.993km</em></span>
								<p>电话：0101014/1531264850</p>
								<p>地址：东水井怀东水井怀东水东水井怀</p>
						    </div>
						    <div class="sy_int_ul_2">
						    	<div class="item item-icon-right">
						    		<h2 class="tit">查看地图</h2>
						        <i class="icon  ion-chevron-right"></i>
						    	</div>
						    </div>
						</li>
						<li>
						    <div class="sy_int_ul_1" ng-click="goPersonal('myServer18')">
						    	<h4 class="title">东城区 王府井门市</h4>
								<span class="sy_int_adr"><i class="icon ion-ios-location"></i><em>1.993km</em></span>
								<p>电话：0101014/1531264850</p>
								<p>地址：东水井怀东水井怀东水东水井怀</p>
						    </div>
						    <div class="sy_int_ul_2">
						    	<div class="item item-icon-right">
						    		<h2 class="tit">查看地图</h2>
						        <i class="icon  ion-chevron-right"></i>
						    	</div>
						    </div>
						</li>
					</ul>
				</ion-content>
				<div class="bar bar-footer  ordersucdi" >
					<div class="sy_footer_btn">
						<button class="sy_ordersucdi" ><i style="background-image:url(images/sy_vip_sp_icon.png)"></i>全部</button> 
					</div>
					<div class="sy_footer_btn">
						<button class="sy_ordersucdi" ><i style="background-image:url(images/sy_vip_sp_icon.png)"></i>区域</button>
					</div>
					
					
				</div>
			</ion-view>
		</ion-nav-view>
