
	
<ion-nav-view>
		<ion-view >
		
			<ion-content class="sy_vip_main" overflow-scroll="true">
				<div class="sy_vip">
					<div class="sy_vip_box">
						<div class="sy_vip_img" ui-sref="personal2"><img src="images/sy_vip_img.png" alt="" /></div>
					    <div class="sy_vip_usBox">
						<a href="" class="sy_vip_user" ui-sref="personal2">15311336295</a>
					    <a href="" class="sy_vip_sp" ui-sref="vipClub8"><i><img src="images/sy_vip_sp_icon.png" alt="" /></i>金卡会员</a>
					</div>
					</div>
					<div class="sy_vip_iconbox">
						<i class="ion-ios-gear-outline" ui-sref="edit"></i>
					   <i class="ion-ios-chatbubble" ui-sref="myMessage" ><em class="sy_vip_num">12</em></i>
					</div>
				</div> 
				
				<div class="sy_vip_1 row row-center">
					<div class="col col-center" ui-sref="vipClub8">
						<i><img src="images/sy_vip_div1_icon.png" alt="" /></i>
						<p>会员具乐部</p>
					</div>
					<div class="col" ui-sref="vipClub10">
						<i class="ion-social-yen-outline"></i>
						<p>积分<br /><em>2000</em>分</p>
					</div>
					<div class="col" ui-sref="vipClub11">
						<i class="ion-ios-pricetags-outline"></i>
						<p>优惠券<br /><em>20</em>张</p>
					</div>
				</div>
				
				<div class="vip-2 row row-center">
					<div class="vip-2-div1 col col-25" ui-sref='order15'>
						<i class="ion-document-text"></i><p>我的订单</p>
					</div>
					<div class="vip-2-div2 col">
						<div class="row vip-2-div2-div">
							<div class="col" ui-sref='order15'><i class="ion-ios-list-outline"></i><p>待处理</p></div>
							<div class="col" ui-sref='order15'><i class="ion-ios-compose-outline"></i><p>待签约</p></div>
							<div class="col" ui-sref='order15'><i class="ion-ios-chatboxes-outline"></i><p>待评论</p></div>
						</div>
					</div>
				</div>
				
				<div class="vip-2 row row-center">
					<div class="vip-2-div1 col col-25" ui-sref='myServer16'>
						<i class="ion-briefcase"></i><p>我的服务</p>
					</div>
					<div class="vip-2-div2 col">
						<div class="row vip-2-div2-div">
							<div class="col"><i class="ion-ios-paper-outline"></i><p>出团通知</p></div>
							<div class="col"><i class="ion-ios-bookmarks-outline"></i><p>行前说明会</p></div>
							<div class="col" ui-sref='myServer17'><i class="ion-ios-chatboxes-outline"></i><p>线下网络服务</p></div>
						</div>
					</div>
				</div>
				
				<div class="sy_vip_2">
					<div class="row row-center">
						<div class="col col-center" ui-sref="offerMessage20"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>常用信息</p></div>
						<div class="col" ui-sref="collection"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>我的收藏</p></div>
						<div class="col" ui-sref="history"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>浏览历史</p></div>
						<div class="col" ui-sref="comment"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>我的点评</p></div>
					</div>
					<div class="row row-center">
						<div class="col" ui-sref="contract"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>合同验真</p></div>
						<div class="col" ui-sref="travel"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>爱旅游</p></div>
						<div class="col"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>私人定制</p></div>
						<div class="col"><i><img src="images/sy_vip_2_icon.png" alt=""></i><p>出行服务</p></div>
					</div>
				</div>

				<div class="sy_vip_3">
					<ion-item class="item-icon-left item-icon-right" ng-click="openModal()">
				             <i class="icon ion-headphone"></i>在线咨询<em class="icon ion-chevron-right"></em>
				     </ion-item>
				     <ion-item class="item-icon-left item-icon-right" ng-click="showConfirm()">
				             <i class="icon ion-ios-telephone"></i>电话咨询<em class="icon ion-chevron-right"></em>
				     </ion-item>
				</div>
				
				<div class="sy_vip_4">
					<ion-item class="item-icon-left icon-icon-right">
				             <i class="icon ion-android-favorite"></i>猜你喜欢<a class="sy_vip_fres">换一批<em class=" ion-loop"></em></a>
				     </ion-item>
				</div>
				 
				<div class="sy_vip_5">
                     <div class="list">
                     	<a href="" class="item sy_soulie1">
                     		<div class="soulie1img"><img class="soulie1img2" src="images/new_200_150.jpg" alt="" /></div>
                     		<h3 class="soulie1-1-p">这是个标题这是个标题这是个标题这是个标题</h3>
                     		<p class="sy_vip_time">
                     			<span class="sy_time_box">
                     				<span class="sy_time_start">预售</span><i class="sy_time_i">2017</i><em class="sy_time_dot">.</em><i  class="sy_time_i">09</i><em class="sy_time_dot">.</em><i class="sy_time_i">04</i><span class="sy_time_end">截止</span>
                     			</span>
                     		</p>
                     		<p class="soulie1-1-p">
                     			<span class="ng-binding">北京出发</span>
                     			<span class="souliespan3">起/人</span>
                     			<span class="souliespan2 ng-binding">￥7999</span>
                     		</p>
                     	</a>
                     	<a href="" class="item sy_soulie1">
                     		<div class="soulie1img"><img class="soulie1img2" src="images/new_200_150.jpg" alt="" /></div>
                     		<h3 class="soulie1-1-p">这是个标题这是个标题这是个标题这是个标题</h3>
                     		<p class="sy_vip_time">
                     			<span class="sy_time_box">
                     				<span class="sy_time_start">预售</span><i class="sy_time_i">2017</i><em class="sy_time_dot">.</em><i  class="sy_time_i">09</i><em class="sy_time_dot">.</em><i class="sy_time_i">04</i><span class="sy_time_end">截止</span>
                     			</span>
                     		</p>
                     		<p class="soulie1-1-p">
                     			<span class="ng-binding">北京出发</span>
                     			<span class="souliespan3">起/人</span>
                     			<span class="souliespan2 ng-binding">￥7999</span>
                     		</p>
                     	</a>
                     	
                     </div>
				</div>
				
				<div class="sy_vip_6"><img src="images/sy_vip_6.img.jpg" alt="" /></div>

			</ion-content>

		</ion-view>
</ion-nav-view>





