
		
<ion-nav-view>
	<ion-view>
		<div class="bar bar-header sy_edit">
			<button class="button back-button button-icon ion-android-arrow-back" ng-click="goPersonal('personal2');"></button>
			<h4>修改呢称</h4>
	    </div>
	    <ion-content class="content_head  sy_bg_gray sy_edit_cont1">
	    	<form name="form" novalidate>
	    		<div class="sy_edit_1">
			    	<label class="item item-input">
				       <input type="text"  name="username" placeholder="请输入呢称" ng-model="user.name" maxlength="23"  ng-pattern= '/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{2,23}$/'  ng-model-options="{updateOn: 'blur'}" required myname>
				       
				       <div class="input_intro_1" ng-show="form.username.$invalid">
				    	<span ng-show="form.username.$error.pattern">呢称只能是数字和 字母组合8-16位</span>
				       </div>
				    </label>
				    
				    
				    <label class="item sy_edit_iontro">呢称只能修改一次</label>
		        </div>
		        <button class='button_orange button denglu-2-1' ng-disabled="form.$invalid || !form.username">保存</button>
	    	</form>
	    </ion-content>
	</ion-view>
</ion-nav-view>