
		
		<ion-nav-view>
			<ion-view>
				<div class="bar bar-header">
					<button class="button back-button  button-icon ion-ios-arrow-left" ng-click="goPersonal('personal5');"></button>
					<h4>密码设置</h4>
		  	    </div>
			    <ion-content class="content_head">
			    	<div class="row cdfg-security-sign">
			    		<div class="cdfg-security-col">1<div class="text">验证身份</div></div>
			    		<div class="col cdfg-padding cdfg-security-arrow"><i class="ion-ios-arrow-right"></i></div>
		    			<div class="cdfg-security-col">2<div class="text">填写密码</div></div>
		    			<div class="col cdfg-padding cdfg-security-arrow"><i class="ion-ios-arrow-right"></i></div>
		    			<div class="cdfg-security-col  cdfg-password-active">3<div class="text">完成</div></div>
			    	</div>
			    	
			    	<div class="vipreg3">
			    		<img src="images/ordersuc.png">
			    		<h4>
			    			<span class="sy_vipreg3span1">恭喜您，密码修改成功</span>
			    		</h4>
			    		<p class="sy_vipreg3p2">点击<a href="#/home" ng-click="goPersonal('vip');">前往首页</a>开启您的精彩旅程</p></div>

			    </ion-content>

			</ion-view>
		</ion-nav-view>
