
		
		<ion-nav-view>
			<ion-view>
				<div class="bar bar-header sy_edit">
					<button class="button back-button button-icon ion-android-arrow-back " ui-sref="vip"></button>
					<h4>会员具乐部</h4>
			    </div>
			    <ion-content class="content_head sy_bg_gray vip_club">
			    	<div class="vip_club_1">
			    		<div class="vip_club_1_box">
			    			<div class="vip_club_1_img"><img src="images/lg.png" alt="" /></div>
			    			<h4 class="vip_club_1_tit">15532659874</h4>
			    			<div class="row vip_club_range">
					    		<div class="vip_club_range_txt vip_club_range_ac"><div class="text"><p class="p1">验证身份</p><p class="p2">注册成功</p></div></div>
					    		<div class="col vip_club_range_line"><i class="active"></i></div>
					    		<div class="vip_club_range_txt"><div class="text"><p class="p1">金卡会员</p><p class="p2">积分值2000</p></div></div>
					    		<div class="col vip_club_range_line"><i class=""></i></div>
					    		<div class="vip_club_range_txt"><div class="text"><p class="p1">白金会员</p><p class="p2">积分值30000</p></div></div>
					    		<div class="col vip_club_range_line"><i class=""></i></div>
					    		<div class="vip_club_range_txt"><div class="text"><p class="p1">铂金会员</p><p class="p2">积分值50000</p></div></div>
					    	</div>
			    		</div>
			    	</div>
			    	
			    	<div class="vip_club_2"><img src="images/vip_club_ad_img.jpg" alt="" /></div>
			    	
			    	<div class="vip_club_3">
			    		<div class="item item-icon-right" ng-click="goPersonal('vipClub9')">
				          <a href="">会员特权</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right" ng-click="goPersonal('vipClub10')">
				          <a href="">我的积分</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right" ng-click="goPersonal('vipClub11')">
				          <a href="">我的优惠券</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right" ng-click="goPersonal('vipClub12')">
				          <a href="">积分密码</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right" >
				          <a href="">积分支付确认</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right">
				          <a href="">积分规则</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right">
				          <a href="">会员章程</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right" ng-click="goPersonal('vipClub13')">
				          <a href="">实体卡激活</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
				        <div class="item item-icon-right" ng-click="goPersonal('vipClub14')">
				          <a href="">我的推荐人</a>
				          <i class="icon icon_right_0 ion-ios-arrow-right"></i>
				        </div>
							    		
			    	</div>



			    	
			    </ion-content>
			</ion-view>
		</ion-nav-view>
