<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>国旅在线</title>

    
     <link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">
     <script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
  
    
    <link rel="stylesheet" href="../css/style.min.css" />
	<link rel="stylesheet" href="../css/sy.css" />
	
</head>
<body ng-controller="myCtrl">
		
		<ion-nav-view>
			<ion-view>
				<div class="bar bar-header sy_edit">
					<button class="button back-button button-icon ion-android-arrow-back" ></button> <!--ng-click="goPersonal('personal2');"--> 
					<h4>修改姓名</h4>
			    </div>
			    <ion-content class="content_head sy_bg_gray sy_edit_cont1">
			    	<form novalidate name="form1">
			    		<div class="sy_edit_1">
					    	<label class="item item-input">
						       <input type="text" placeholder="请输入您的姓名" name="cname" ng-model="user.cname" ng-mixlength="2" ng-pattern="/^([\u4E00-\u9FA5]+|[a-zA-Z]+){2,3}$/" required>
						    </label>
						    <div  ng-show="form1.cname.$invalid">
						    	<span ng-show="form1.cname.$error.pattern">请输入正确的姓名</span>
						    </div>
						    
				        </div>
				        <button class='button_orange button denglu-2-1 button_t_11' >保存</button>
			    	</form>
			    </ion-content>
			</ion-view>
		</ion-nav-view>
		
		<script src="../js/myApp.js"></script>
		<script src="../js/directive.js"></script>
</body>
</html>


