<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>国旅在线</title>
	<!--<!--<link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>-->-->
    
    
  <!--  <link href="http://file1.cits.cn/m/lib/ionic/css/ionic.css?v=1.0.0" rel="stylesheet" type="text/css"/>
    <script src="http://file4.cits.cn/m/lib/ionic/js/ionic.bundle.min.js"></script> -->
    
     <link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">
     <script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
  
    
    <link rel="stylesheet" href="../css/style.min.css" />
	<link rel="stylesheet" href="../css/sy.css" />
	
</head>
<body ng-controller="myCtrl">
		
		<ion-nav-view>
			<ion-view>
				<div class="bar bar-header sy_edit">
					<button class="button back-button button-icon ion-android-arrow-back"></button> <!-- ng-click="goPersonal('personal2');" -->
					<h4>修改身份证</h4>
			    </div>
			    <ion-content class="content_head  sy_bg_gray sy_edit_cont1">
			    	<form name="form" novalidate>
			    		<div class="sy_edit_1">
					    	<label class="item item-input">
					    		<span class="input-label sy_edit_1_label">邮箱</span>
						       <input type="email" placeholder="请输入您的邮箱" name="email" ng-model="user.email" required>
						    </label>
						    <div class="input_intro" ng-show="form.email.$invalid">
						    	<span ng-show="form.email.$error.email">请输入正确邮箱</span>
						    </div>

				        </div>
				        <button class='button_orange button denglu-2-1 button_t_11' ng-disabled="form.$invalid || " >保存</button>
			    	</form>
			    </ion-content>
			</ion-view>
		</ion-nav-view>

		<script src="../js/myApp.js"></script>
		<script src="../js/directive.js"></script>
</body>
</html>
