*{margin:0;padding:0;list-style: none;}
a{text-decoration: none;color:#fff;margin:0 20px;}
li{float:left;}
.cl{clear:both;overflow: hidden;}
.nav-color{background:darkcyan;}

.header{background:#27be92;padding:30px;}
.header h3{color:#fff;}
.main{padding:30px;border:1px solid red;margin:20px 0 0;}

/*common*/
.common{padding:10px;border:1px solid green;margin:20px;}
.margin{margin:10px;}



.red{background:red;}
.blue{background:blue;}
.yellow{background:yellow;}
.green{background:green}
.brown{background:tan;}
.color-red{color:red;font-weight:bold;}

.nav{clear:both;overflow: hidden;margin:20px -20px 0;}


.main_tit{margin:30px 0;}
.main_view{min-height:50px;border:1px solid red;}
.view{padding:20px 0;border:1px solid blue;min-height: 50px;}
.view_tit{margin:50px 0 10px;}


/*home*/
.home-h3{font-size:20px;}